<form (ngSubmit)="valid(userForm.value)" #userForm="ngForm">
    <div class="form-group">
        <label>firstname</label><input name="firstname" type="text" required #username="ngModel" [(ngModel)]="user.firstname"/>
        <div *ngIf="username.dirty && username.hasError('required')">Username is required</div>
    </div>

    <div class="form-group">
        <label>lastname</label><input name="lastname" type="text" required maxlength="12" [(ngModel)]="user.lastname"/>
    </div>

    <button (click)="user.firstname = '' " >reset</button>

    {{user | json}}

    <div>
        <button [disabled]="userFom.invalid" type="submit">
            valid
        </button>
    </div>
</form>