<app-header></app-header>
<h1 class="title">{{ title?.caption }}</h1>

<div appDoNothing>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique distinctio
  voluptas, provident tempore, sequi nam consequatur ipsum inventore quos,
  maiores pariatur delectus in assumenda repudiandae animi? Sequi eligendi
  repellendus ex fugiat ut cumque dolor recusandae odio exercitationem, cum
  culpa ea?
</div>

<!-- <div style="{{ cssD }}" [innerHTML]="'df'"></div> -->
<div [style.color]="tColor">ma div</div>
<div [ngStyle]="{ color: 'red', background: 'green' }">ma div</div>
<button (click)="handleButtonClick()">click me</button>

<hr />
<input type="color" #colorInput />
<button (click)="handleChangeColor(colorInput)">change color</button>
<hr />
<app-users></app-users>
<hr />

<app-footer></app-footer>
<app-mon-super-composant-cool></app-mon-super-composant-cool>
