<nav>
    <ul>
        <li>
            <a href="" [routerLink]="['/landing']" routerLinkActive="router-link-active">landing</a>
        </li>
        <li>
            <a href="" [routerLink]="['/users']" routerLinkActive="router-link-active">users</a>
        </li>
        <li>
            <a href="" [routerLink]="['/auth']" routerLinkActive="router-link-active">auth</a>
        </li>
        <li>
            <a href="" [routerLink]="['/private']" routerLinkActive="router-link-active">private</a>
        </li>
    </ul>
</nav>